body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
}

header, footer {
    background-color: #f4f4f4;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

.btn-reservar {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.equipo-medico .doctor img {
    width: 100px; 
    height: auto;
    border-radius: 50%;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .btn-reservar {
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    .equipo-medico .doctor {
        text-align: center;
        margin-bottom: 20px;
    }

    .equipo-medico .doctor img {
        width: 80px;
    }
}

/* Estilos para la sección de contacto */
.contacto {
    text-align: center;
    padding: 20px;
}

.btn-llamanos {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
}

.btn-whatsapp {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.btn-whatsapp:hover {
    background-color: #128C7E;
}

.contacto-instagram {
    margin-top: 20px;
}

.contacto-instagram img {
    width: 30px;
    vertical-align: middle;
    margin-right: 8px;
}

.btn-llamanos:hover {
    background-color: #0056b3;
}

 .form.contacto {
text-align: center;
}